<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Index</title>
    <script src="__ROOT__/Public/js/jquery-3.0.0.min.js"></script>
  </head>
  <body>
    <div>
      <button id="sign"></button>
    </div>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        var openid = {$openid};
        $('#sign').click(function(){
          $.post('{:U('Index/AjaxQiandao')}', {openid:openid},function(data){
            if( data.status == 'y' ){
              window.location.reload();
            }else{
              alert(data.msg);
            }
          },'json')
        })
      })
    </script>
  </body>
</html>

